header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #e8ecf6;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
}
.nav-bar{
    float: right;
}
/* .head-menu .top-navigation ul li:nth-of-type(1n+1){
    display: block;
}
.head-menu .top-navigation ul li:nth-of-type(1n+6){
    display: none;
} */

.head-menu{
  display: block;
}
.mob-menu{
  display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e8ecf6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 4px 0px 8px #554040;
    white-space: nowrap;
  }
  
  .sidenav ul>li {
    padding: 8px 8px 5px 25px;
    font-size: 20px;
    display: block;
    transition: 0.3s;
  }

  .sidenav ul li a{
    color: #382d6d;
    text-decoration: none;
  }
  .sidenav ul li a:hover{
    color: #638eff;
  }

  #mySidenav a:hover {
    text-decoration: none;
  }
  
.sidenav-list::after{
  content: '';
    position: absolute;
    width: 70%;
    height: 1px;
    background: #382d6d;
    text-align: center;
    display: flex;
    left: 15%;
    right: 15%;
    margin-top: 10px;
}
/* .sidenav-list>li>a::after{
   content: '';
    position: absolute;
    width: 70%;
    height: 1px;
    background: #382d6d;
    text-align: center;
    display: flex;
    margin-top: 0px;
} */
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-width: 991px) {
    .head-menu .top-navigation>ul>li:nth-of-type(1n+1){
        display: none;
    }
    .head-menu .top-navigation>ul>li:nth-of-type(1n+6){
        display: block;
    }

    .head-menu{
      display: none;
    }
    .mob-menu{
      display: block;
    }
  
  }
  @media screen and (max-width: 767px) {
    .footer-flex {
      padding-left: 0px;
    }
      .footerlinks ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footerlinks ul li{
      width: 48%;
    }
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }